header.navbar, header.navbar .navbar-brand {
    border: none;
}

header.navbar .dropdown-menu {
      background: $navbar-dropdown-menu-bg;
      border: $navbar-dropdown-menu-border solid 1px;
}

header.navbar .dropdown-menu .dropdown-item {
    color: $navbar-dropdown-menu-color;

    @include hover-focus {
        color: $navbar-dropdown-menu-color-hover;
        text-decoration: none;
        background-color: $navbar-dropdown-menu-bg-hover;
    }
    border-bottom: none;
}

header.navbar .dropdown-menu .dropdown-header {
    background: $navbar-dropdown-header-bg;
    color: $navbar-dropdown-header-color;
}
