<div class="app login-page container-fluid d-flex flex-column">
    <div class="row justify-content-center welcome-zone">
        <div class="col-xs-12">
            <img src="assets/img/logo.png" />
        </div>
    </div>

    <div class="row justify-content-center login-zone">
        <div class="col-xs-12">
            <div class="card-group mb-0">
                <div class="card border-0 p-4 mt-4">
                    <div class="card-block">

                        <form #form="ngForm" (ngSubmit)="login()">
                            <div class="input-group mb-3">
                                <span class="input-group-addon"><i class="icon-user"></i></span>
                                <input type="text" class="form-control" placeholder="Usuario" [(ngModel)]="userName" name="userName" required>
                            </div>
                            <div class="input-group mb-4">
                                <span class="input-group-addon"><i class="icon-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
                            </div>
                            <div class="row">
                                <button [disabled]="form.invalid" type="submit" class="col-12 btn btn-primary px-4 margin-4" i18n>
                                    Entrar
                                    <i class="fa fa-sign-in"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>