$orenes-dark:                       #303641;

$navbar-bg:                         $orenes-dark;

$navbar-brand-bg:                   $orenes-dark;
$navbar-brand-logo-size:            100px auto;

$navbar-color:                      rgba(256,256,256,.3);
$navbar-hover-color:                rgba(256,256,256,.6);
$navbar-active-color:               rgba(256,256,256,.8);
$navbar-disabled-color:             rgba(256,256,256,.15);

$navbar-dropdown-header-bg:         lighten($orenes-dark, 10%);
$navbar-dropdown-header-color:      #ffffff;
$navbar-dropdown-menu-bg:           $orenes-dark;
$navbar-dropdown-menu-color:        #ffffff;
$navbar-dropdown-menu-bg-hover:     lighten($orenes-dark, 5%);
$navbar-dropdown-menu-color-hover:  rgba(256,256,256,.6);
$navbar-dropdown-menu-border:       rgba(256,256,256,.2);

$breadcrumb-bg:                     $orenes-dark;